.contact__main {
  display:block;
  align-items: center;
  justify-content: center;
}
.contact__body {
  display: flex;
  @media (max-width: 550px) {
    display: block;
  }
}
.contact__image{
 /* background-image: url("./images/contact.jpg");
  background-size: cover;
  background-position: center;*/
  width: 37rem;
  height: 30rem;
  margin: 3rem;
  @media (max-width: 550px) {
    width:80%;
    height: 80vh;
  }
}
.contact{
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  width: 50%;
  flex-direction: column;
  color: #101011;
  margin: 1rem;
  padding-top: 3rem;
  @media (max-width: 550px) {
    width: 100%;
  }
}
.contact__title{

  font-size: 34px;
  padding-top: 80px;
  color: #4ab6e6;

  @media (max-width: 550px) {
    margin-left: 10px
  }
}
.contact__desk {
  font-size: 34px;
  margin-top: -10px;
  color: #4ab6e6;
  padding-bottom: 40px;
}

input{
  border: 1px solid gray;
  border-radius: 4px;

}

.contact__btn__section {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
.contact__answer{
  margin-top: 60px;
  margin-left: 30px;
}
.contact__button {
  width: 200px;
  height: 40px;
  }
.contact__form {
  width: 100%;
  margin-left: 80px;
  @media (max-width: 550px) {
    margin-left: 10px
  }
}
.contact__text {
  padding-top: 30px;
}

