.footer {
  height: 18vh;
  background: #48484b;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.footer__text {
  width: 25%;
  height: 80%;
  color: grey;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-align: left;
  display: flex;
  align-items: center;
  @media (max-width: 550px) {
    width: 40%;
  }

}

.footer__text:hover {
  color: white;
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
  transition:2s;
}

.footer__image {
  height: 80%;
  width: 30vw;
  background-image: url("images/images.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 5px;
  -webkit-filter: grayscale(1)
}

.footer__image:hover {
  -webkit-filter: none;
  transition:2s;
}

