.nav{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px 25px;
  background: #48484b;
}

.nav__li{
  font-size: 15px;
  flex-grow: 1;
}
a {

  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);

}
a:hover {
  color: silver;
  font-weight: bold;
}

.active {
  color: silver;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3px;
  text-shadow: none;
}